<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인화면</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .table-container {
            margin-top: 50px;
        }
        .table thead {
            background-color: #343a40;
            color: white;
        }
        .btn-write {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<header th:replace="layout/header::header"></header>

<div class="container table-container">
    <h1 class="text-center">게시판</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="board : ${list}">
            <td th:text="${board.id}"></td>
            <td><a th:text="${board.title}" th:href="${currentUrl + '/' + board.id}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.updateAt}"></td>
        </tr>

        </tbody>
    </table>

    <div class="d-flex justify-content-end btn-write" th:if="${session.user != null}">
        <button class="btn btn-primary" onclick="location.href='/writer'">글 작성</button>
    </div>
</div>

<footer th:replace="layout/footer::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>